# pd  tests i.e. string to timestamp converion.. yyyy-mm-dd HH:MM:SS.xyz Ignoring milli seconds.. Transposing the dataset via pivot functions...

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [3]:
data = pd.read_csv('datasets/bolt_bat_dist_c.csv')
data.head(5)

              vin_nbr     element_cd           element_timstm  element_val
0   1G2FW6S00H4159848  BATTERY_LEVEL  2020-04-04 03:41:10.100         87.4
1  1G2FW6S00H41598488  BATTERY_LEVEL      2020-04-04 03:41:50         87.8
2   1G2FW6S00H4159848       EV_RANGE  2020-04-04 03:41:10.100        200.0
3  1G2FW6S00H41598488       EV_RANGE      2020-04-04 03:41:50        300.0

In [5]:
data.dtypes

vin_nbr            object
element_cd         object
element_timstm     object
element_val       float64
dtype: object

In [6]:
#data['element_timstm'] = pd.to_datetime(data['element_timstm'], format='%Y-%m-%d %I:%M:%S',errors='ignore')
#data.dtypes...coerce is other option to set NA

import datetime as dt
import time
data['element_timstm'] = data['element_timstm'].apply(lambda x:time.strftime('%m/%d/%Y %I:%M:%S', time.strptime(x.split('.')[0],'%Y-%m-%d %H:%M:%S') ) )

In [7]:
data.head(5)
data.dtypes

vin_nbr            object
element_cd         object
element_timstm     object
element_val       float64
dtype: object

In [8]:
res = data.pivot_table(index=['vin_nbr', 'element_timstm'], columns='element_cd',
                     values='element_val', aggfunc='first').reset_index()

In [ ]:
data.dtypes

In [9]:
res.head(5)

element_cd             vin_nbr       element_timstm  BATTERY_LEVEL  EV_RANGE
0            1G2FW6S00H4159848  04/04/2020 03:41:10           87.4     200.0
1           1G2FW6S00H41598488  04/04/2020 03:41:50           87.8     300.0

In [10]:
res.count()
res.shape

(2, 4)

In [11]:
data2 = res.dropna()
r, c = data2.shape
print(r)
print ( c)

2
4

In [ ]:
data2.head

In [ ]:
data2.to_csv("datasets/volt_bat_dist_poc_out_sec.csv",index=False)